exim-4.43-config.samples.tar.bz2
exim-4.63-auth_pop3_imap.embedded_perl
exim-4.63-cron_exicyclog_eximstats
exim-4.63-logrotate_eximstats
exim-4.63-sasl2_smtpd.conf
exim-4.63-sysconfig
exim-4.76.tar.gz
exim-4.76.tar.gz.asc
exim.aliases
exim-html-4.76.tar.gz
exim-html-4.76.tar.gz.asc
exim.init
exim.logrotate
exim_monitor-16x16.png
exim_monitor-32x32.png
exim_monitor-48x48.png
exim.pam
exim-README.urpmi
exim.sysconfig
sa-exim-4.2.1.tar.gz
